{% include 'header.html' %}
{% include 'navbar.html' %}
<script src="{{ url_for('static',filename='js/crypto/md5.js') }}"></script>
<script src="{{ url_for('static',filename='js/crypto/sha1.js') }}"></script>
<script src="{{ url_for('static',filename='js/crypto/sha3.js') }}"></script>
<script src="{{ url_for('static',filename='js/crypto/sha224.js') }}"></script>
<script src="{{ url_for('static',filename='js/crypto/sha256.js') }}"></script>
<script src="{{ url_for('static',filename='js/crypto/sha384.js') }}"></script>
<script src="{{ url_for('static',filename='js/crypto/sha512.js') }}"></script>
<script src="{{ url_for('static',filename='js/CRC32.js') }}"></script>
<script>
    function calculate() {

        var type=$("#type").val();

        var cal_func;

            switch (type){
                case 'md5':cal_func=CryptoJS.MD5;break;
                case 'sha1':cal_func=CryptoJS.SHA1;break;
                case 'sha3':cal_func=CryptoJS.SHA3;break;
                case 'sha224':cal_func=CryptoJS.SHA224;break;
                case 'sha256':cal_func=CryptoJS.SHA256;break;
                case 'sha384':cal_func=CryptoJS.SHA384;break;
                case 'sha512':cal_func=CryptoJS.SHA512;break;
                case 'CRC32':cal_func=CRC32.str;break;
        }

        var input=$("#input").val();
        $("#output").text(cal_func(input));

    }
</script>

<div class="col-md-2">

</div>
<div class="col-md-10">
    <h1>散列函数</h1>
    <div class="col-md-4">
    <textarea class="form-control" rows="15" id="input"></textarea>
    </div>
    <div class="col-md-2">

        <br/>
        <br/>
        <br/>
        <br/>


        <br/>
       <select class="form-control" id="type">
            <option value="md5">md5</option>
            <option value="sha1">sha1</option>
            <option value="sha3">sha3</option>
            <option value="sha224">sha224</option>
            <option value="sha256">sha256</option>
            <option value="sha384">sha384</option>
            <option value="sha512">sha512</option>
            <option value="CRC32">CRC32</option>
        </select>
        <br/>
        <button class="btn btn-default" onclick="calculate()">执行</button>
    </div>
    <div class="col-md-4">
  <textarea class="form-control" rows="15" id="output"></textarea>
    </div>
</div>



{% include 'footer.html' %}