{% include 'hackgame1/header.html' %}
{% include 'hackgame1/navbar.html' %}

<script>

    (function() {
        var _old_alert = window.alert;
        window.alert = function() {
            //document.body.innerHTML += "<br>done alerting<br>";
            // run some code when the alert pops up
            //document.body.innerHTML += "<br>alerting";
            // run some code after the alert

            console.log( 'xss');
            _old_alert.apply(window,arguments);
            $("#next-stage").show();
            $("#main").append(" 恭喜！你居然通关了orz膜拜菊苣!!!!!"+
            {% if next_stage %}
                '<a href="{{ url_for('hackgame1.'+next_stage) }}" style="color:red">下一关</a>'
            {% endif %});

        };
    })();

</script>

<!-- left bar -->
<div class="col-md-3">
</div>


<!-- main bar -->
<div class="col-md-6" id="main">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">管理员</h3>
        </div>
        <div class="panel-body">
            世界上最好的编程语言是什么？
        </div>
    </div>
    {% for message in messages %}

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">{{ message.name }}</h3>
            </div>
            <div class="panel-body">
                {{ message.content | safe}}
                <br/>
                <form method="POST" action="{{ url_for('hackgame1.delete_message') }}">
                    <input type="hidden" name="redirect" value="{{ current_stage }}">
                    <input type="hidden" name="id" value="{{ message.id }}">

                    <button type="submit" class="btn-danger" style="float: right">删除</button>
                </form>
            </div>

        </div>
    {% endfor %}


    <hr>
    <!-- input bar-->
    <form class="form-group" action="{{ url_for('hackgame1.add_message') }}" method="post">
        <input type="hidden" name="redirect" value="{{ current_stage }}">
        <textarea class="form-control" title="发表回复" name="content" required></textarea>

        <button type="submit" class="btn">提交</button>
    </form>
    <div class="panel-danger panel " id="next-stage" style="display: none">
        <div class="panel-heading">

        </div>
        <div class="panel-body">
            恭喜！你居然通关了orz膜拜菊苣!!!!!
            {% if next_stage %}
                <a href="{{ url_for('hackgame1.'+next_stage) }}" style="color:red">下一关</a>
            {% endif %}
        </div>
    </div>
</div>

{% include 'hackgame1/footer.html' %}